/* === DivKominfo.js === */
#kominfo {
    color: white;
    margin-top: 100px;
}

#kominfo div .tujuan {
    font-size: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#kominfo .anggota .container .row .col div img{
    width: 150px;
    
}